<a href="https://colab.research.google.com/github/dscastanedav/Alg2_dscastanedav/blob/main/lab1%5Clab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Bienvenidos a'
my_string2 = "Cahichurrislandia"
print(my_string1 + ' ' + my_string2)

Bienvenidos a Cahichurrislandia

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 777
print(my_int)
print(type(my_int))
print('Esto ya lo sabía')

777
<class 'int'>
Esto ya lo sabía

The built-in function int() can convert a string into an integer.

In [ ]:
mi_compa = "456456456"
print(type(mi_compa))
mi_perro = int(mi_compa)
print(type(mi_perro))
print(mi_compa)

<class 'str'>
<class 'int'>
456456456

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
mi_cuerda = "64564.564"
mi_flotador = float(mi_cuerda)
print(type(mi_flotador))
print(mi_cuerda)

TypeError: ignored

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
cbool = True
print(cbool)
print(type(cbool))
print('Cbool - Would you feel it')

True
<class 'bool'>
Cbool - Would you feel it

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Suma ", 1+13)
print("Resta ", 2-24)
print("Multiplicación ", 2*3*5)
print("División ", 10/22)
print('Exponenciación', 2**3**3)

Suma  14
Resta  -22
Multiplicación  30
División  0.45454545454545453
Exponenciación 134217728

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)
print('Qué hábil, lo dejaré como está')

0.3333333333333333
0.3333333333333333
Qué hábil, lo dejaré como está

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [3]:
my_list = ['Sáquenme', 'de', 'Latinoamérica','!']
print(my_list)

['Sáquenme', 'de', 'Latinoamérica', '!']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [9]:
my_list = ['me ', 'aburrooooooooo', 1,2]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -3])

4
me
aburrooooooooo

You can also change the elements in the list by accessing an index and assigning a new value.

In [11]:
my_list = ['Ya','Cállate',1,2,3]
my_list[2] = 'Zoqueteeeeeee'
print(my_list)

['Ya', 'Cállate', 'Zoqueteeeeeee', 2, 3]

A list can also be sliced with a colon:

In [16]:
my_list = ['fgdfgdfg','fdgdfgfdg',1,2,'kljlikj']
print(my_list[0:4])

['fgdfgdfg', 'fdgdfgfdg', 1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [17]:
print(my_list[2:])

[1, 2, 'kljlikj']

And all elements up to but excluding index 3:

In [18]:
print(my_list[:3])

['fgdfgdfg', 'fdgdfgfdg', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [20]:
my_list = ['Hola', 'Mundo']
my_list.append('comida')
print(my_list)

['Hola', 'Mundo', 'comida']

In [22]:
my_list.remove('comida')
print(my_list)

['Hola', 'Mundo']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Bienvenidos','a','Cachichurrislandia')

Just like a list, a tuple can be sliced by using index.

In [23]:
my_tuple = ('Bienvenidos','a','Cachichurrislandia')
print(my_tuple[1:])

('a', 'Cachichurrislandia')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [26]:
stock_list = ['mi','mama','me','mima','mi','mama','me','mima']
stock_set = set(stock_list)
print(stock_set)

{'mi', 'mima', 'mama', 'me'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [27]:
my_dic = {'goku':'kakarrot cake', 'Vegeta':'Bragueta', 'Namek':'No tienen miembro'}

In [29]:
print(my_dic['goku'])

kakarrot cake

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

We can also change the value associated with a specified key:

In [30]:
print(my_dic.keys())

dict_keys(['goku', 'Vegeta', 'Namek'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [31]:
my_str = 'Bienvenidos a Cachichurrislandia'
print(my_str[8:])

dos a Cachichurrislandia

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [33]:
print('Está muy largo este trabajo'.count('e'))
print('Está larguísimo'.find('e'))
print('Dios mío, algún día voy a acabar?'.replace('a','e'))
print('Esto es una prueba de que el lenguaje inclusivo si funciona'.replace('a','e'))
print('Como se dice presidenta en lenguaje inclusivo? ia tu sabe'.replace('a','e'))

2
-1
Dios mío, elgún díe voy e eceber?
Esto es une pruebe de que el lengueje inclusivo si funcione
Como se dice presidente en lengueje inclusivo? ie tu sebe

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [34]:
Time = '1995-09-15 08:00:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

1995-09-15 08:00:00
08

We can replace parts of a string by our variable. This is called string formatting.

In [35]:
my_time = 'Hour: {}, Minute:{}'.format('08','00')
print(my_time)

Hour: 08, Minute:00

Another way to format a string is to use the % symbol.

In [39]:
print('el numero pi no es %f'%3.14)
print('%s a %s'%('Bienvenidos','Cachichurrislandia'))

el numero pi no es 3.140000
Bienvenidos a Cachichurrislandia

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [41]:
print(1 == 4)
print(1 == 11)
print(1 != 20)
print(5 >= 35)
print(5 >= -6)

False
False
True
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [42]:
print(2 > 15 and 37 > 2)
print(2 > 51 and 36 < 2) 
print(26 > 1 or 3 < 72)
print(28 < 1 and 3 < 22)

False
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [43]:
print((3 > 2 or 1 < 37) and (1!=3 and 74>3) and not ( 3 < 2 or 1 < 3 and (1!=35 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>4) and not ( 322 < 2 or 1 < 3 and (1!=5 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [48]:
i = 4
if i != 0:
    print('i==0 is comida')

i==0 is comida

As we mentioned above, we can write some complex statements here:

In [50]:
p = 1 > 3
q = 4 > 3
if p and q:
    print('p and q is comida')
elif p and not q:
    print('q is ququ')
elif q and not p:
    print('p is papa')
else:
    print('None of p and q is true')

p is papa

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [51]:
i = 0
while i < 15:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [52]:
for i in [1,2,3,4,5,6,7,8,9,0]:
    print(i)

1
2
3
4
5
6
7
8
9
0

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [55]:
stocks = ['mi','ma','má','me','mi','ma', 'ja', 'ja']
selected = ['mi','ma']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['mi', 'ma', 'má', 'me', 'mi', 'ma', 'ja', 'ja']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [56]:
stocks = ['mi','ma','má','me','mi','ma', 'ja', 'ja']
for i in stocks:
    print(i)
    if i == 'FB':
        break

mi
ma
má
me
mi
ma
ja
ja

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [57]:
stocks = ['mi','ma','má','me','mi','ma', 'ja', 'ja']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

mi
ma
má
me
mi
ma
ja
ja

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [59]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2**2)
print(squares)

[1, 16, 81, 256, 625]

Using list comprehension:

In [60]:
list = [1,2,3,4,5]
squares = [x**2**2 for x in list]
print(squares)

[1, 16, 81, 256, 625]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [61]:
stocks = ['mi','ma','má','me','mi','ma', 'ja', 'ja']
selected = ['me','má']
new_list = [x for x in stocks if x in selected]
print(new_list)

['má', 'me']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [62]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['mi','ma','má','me'] for y in ['mi','ma', 'ja', 'ja'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['mi vs ma', 'mi vs ja', 'mi vs ja', 'ma vs mi', 'ma vs ja', 'ma vs ja', 'má vs mi', 'má vs ma', 'má vs ja', 'má vs ja', 'me vs mi', 'me vs ma', 'me vs ja', 'me vs ja']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [63]:
def product(x,y):
    return x*y*x*y
print(product(2,3))
print(product(5,10))

36
2500

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [64]:
def say_hi():
    print('Bienvenidos a Cachichurrislandia')
say_hi()

Bienvenidos a Cachichurrislandia

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [65]:
print(range(108888))
print(range(1,1881))
print(range(1,11,288))

range(0, 108888)
range(1, 1881)
range(1, 11, 288)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [66]:
tickers = ['mi','ma','má','me','mi','ma', 'ja', 'ja']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
mi
ma
má
me
mi
ma
ja
ja

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [71]:
print(list)
del list
list
#esta vaina tiene error

<class 'list'>

NameError: ignored

In [73]:
tickers = ['mi','ma','má','me','mi','ma', 'ja', 'ja']
list(map(len,tickers))

[2, 2, 2, 2, 2, 2, 2, 2]

In [72]:
tickers = ['mi','ma','má','me','mi','ma', 'ja', 'ja']
print(list(map(len,tickers)))

[2, 2, 2, 2, 2, 2, 2, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [74]:
list(map(lambda x: x**2**2, range(10)))

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

map() can be applied to more than one list. The lists have to have the same length.

In [75]:
list(map(lambda x, y: x+y, [1,62,3,4,56],[5,64,3,62,1]))

[6, 126, 6, 66, 57]

**sorted()** takes a list or set and returns a new sorted list

In [76]:
sorted([5,2,3,4,1,8,7,0,33,345])

[0, 1, 2, 3, 4, 5, 7, 8, 33, 345]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [77]:
price_list = [('mi',144.09),('mo',911.71),('mu',69),('ma',150),('me',75.32)]
sorted(price_list, key = lambda x: x[1])

[('mu', 69), ('me', 75.32), ('mi', 144.09), ('ma', 150), ('mo', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [78]:
price_list = [('mi',144.09),('mi',911.71),('mi',69),('mi',150),('mi',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('mi', 911.71), ('mi', 150), ('mi', 144.09), ('mi', 75.32), ('mi', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [79]:
price_list = [('by',144.09),('by',911.71),('by',69),('by',150),('by',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('by', 69), ('by', 75.32), ('by', 144.09), ('by', 150), ('by', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [80]:
class cochinilla:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [83]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)
#otra casilla con error

NameError: ignored

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [85]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()
#otra mas con error

NameError: ignored

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [87]:
apple.ceo = 'Tim Cook'
apple.ceo
#por que rayos no instanciaron apple?

NameError: ignored

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [89]:
dir(apple)
#errorzaso

NameError: ignored

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [91]:
class child(stock):
    def __init__(self,name):
        self.name = name
        #yo supongo que de aqui pa lante todo tiene error

NameError: ignored

In [93]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())
#sip, en efectro todo tiene error

NameError: ignored

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [94]:
import numpy as np
print('sip, por fin numpy')

sip, por fin numpy

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [96]:
el_precio_es_correcto = [45,54,67,8786.8,87.77,-909,-9.9]
price_array = np.array(el_precio_es_correcto)
print(price_array, type(price_array))

[  45.     54.     67.   8786.8    87.77 -909.     -9.9 ] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [98]:
Ar = np.array([[1,5,0],[234,4,4]])
print(Ar, type(Ar))

[[  1   5   0]
 [234   4   4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [100]:
print(Ar.shape)
print('katun')

(2, 3)
katun

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [102]:
print(Ar[0])
print(Ar[1])
print('jajajajajaja')

[1 5 0]
[234   4   4]
jajajajajaja

If we want to access the matrix by column instead:

In [103]:
print('la primera comida: ', Ar[:,0])
print('la ultima cena: ', Ar[:,1])

la primera comida:  [  1 234]
la ultima cena:  [5 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [104]:
print(np.log(price_array))

[3.80666249 3.98898405 4.20469262 9.08100587 4.47471976        nan
        nan]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log
  """Entry point for launching an IPython kernel.

Other functions return a single value:

In [105]:
print(np.mean(price_array)+66)
print(np.std(price_array)+4)
print(np.sum(price_array)+3)
print(np.max(price_array)+1)

1226.2385714285715
3135.14064164861
8124.67
8787.8

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [106]:
import pandas as pd
print('yp, pandas!')

yp, pandas!

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [107]:
price = [456.73, 8.83, 6.68, 144, 1.5, 7.62]
s = pd.Series(price)
s

0    456.73
1      8.83
2      6.68
3    144.00
4      1.50
5      7.62
dtype: float64

We can customize the indices of a new Series:

In [108]:
s = pd.Series(price,index = ['mi','mi','mu','me','mr','mo'])
s

mi    456.73
mi      8.83
mu      6.68
me    144.00
mr      1.50
mo      7.62
dtype: float64

Or we can change the indices of an existing Series:

In [109]:
s.index = [1,4,77,999,6456,7676]
s

1       456.73
4         8.83
77        6.68
999     144.00
6456      1.50
7676      7.62
dtype: float64

Series is like a list since it can be sliced by index:

In [110]:
print(s[1:])
print(s[:-2])
print('apenas voy en la mitad, pero si yo me quiero morir ya')

4         8.83
77        6.68
999     144.00
6456      1.50
7676      7.62
dtype: float64
1      456.73
4        8.83
77       6.68
999    144.00
dtype: float64
apenas voy en la mitad, pero si yo me quiero morir ya

Series is also like a dictionary whose values can be set or fetched by index label:

In [113]:
print(s[6])
s[6] = 0
print(s)
print('acá hay otro error')

KeyError: ignored

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [114]:
s = pd.Series(price, name = 'lista de comidas a ser comidas por los comedores')
print(s)
print(s.name)

0    456.73
1      8.83
2      6.68
3    144.00
4      1.50
5      7.62
Name: lista de comidas a ser comidas por los comedores, dtype: float64
lista de comidas a ser comidas por los comedores

We can get the statistical summaries of a Series:

In [115]:
print(s.describe())
print('yo no soy de aqui ni de por allá')

count      6.000000
mean     104.226667
std      181.296448
min        1.500000
25%        6.915000
50%        8.225000
75%      110.207500
max      456.730000
Name: lista de comidas a ser comidas por los comedores, dtype: float64
yo no soy de aqui ni de por allá

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [116]:
time_index = pd.date_range('1995-09-15',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['1995-09-15', '1995-09-16', '1995-09-17', '1995-09-18',
               '1995-09-19', '1995-09-20'],
              dtype='datetime64[ns]', freq='D')
1995-09-15    456.73
1995-09-16      8.83
1995-09-17      6.68
1995-09-18    144.00
1995-09-19      1.50
1995-09-20      7.62
Freq: D, Name: lista de comidas a ser comidas por los comedores, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [118]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])
print('this is who we aaaaaaare')

6    456.73
5      8.83
4      6.68
3    144.00
2      1.50
1      7.62
Name: lista de comidas a ser comidas por los comedores, dtype: float64
7.62
this is who we aaaaaaare

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [119]:
print(s.iloc[2])

6.68

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [122]:
s.index = time_index
print(s['2017-01-03'])
print('a ver, cuando van a dejar de aparecer errores')

KeyError: ignored

We can even access to a range of dates:

In [124]:
print(s['1995-09-15':'2017-01-05'])

1995-09-15    456.73
1995-09-16      8.83
1995-09-17      6.68
1995-09-18    144.00
1995-09-19      1.50
1995-09-20      7.62
Freq: D, Name: lista de comidas a ser comidas por los comedores, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [125]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])
print('y todo esto que rayos es?')

1995-09-16    8.83
1995-09-17    6.68
1995-09-19    1.50
1995-09-20    7.62
Name: lista de comidas a ser comidas por los comedores, dtype: float64
[1995-09-15    False
1995-09-16    False
1995-09-17    False
1995-09-18     True
1995-09-19    False
1995-09-20    False
Freq: D, Name: lista de comidas a ser comidas por los comedores, dtype: bool]
y todo esto que rayos es?

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [126]:
!pip install yfinance
print('mucho texto ome!')

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 4.9 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=81dfdd6a308f6c9389eda7ae813f623f644b1fa83b06364c1427ca3ae12eb1a1
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64
mucho texto ome!

In [128]:
import yfinance as yf

aapl = yf.Ticker("AAPL")
print('me da miedo tocar el codigo jajaja no quiero dañarlo')
print('es que se ve tan bonito y ordenado que da pena')
# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

me da miedo tocar el codigo jajaja no quiero dañarlo
es que se ve tan bonito y ordenado que da pena
{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.288, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 149.8, 'earningsGrowth': 0.679, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.84, 'debtToEquity': 172.081, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 90942996480, 'totalDebt': 112436002816, 'totalRevenue': 347155005440, 'totalCashPerShare': 5.502, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.327, 'beta3Year': None, 'enterpriseToEbitda': 22.928, '52WeekChange': 0.377218, 'morningStarRiskRating': None, 'forwardEps': 5.98, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 100881318, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58623004, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.39125264, 'priceToBook': 38.588356, 'heldPercentInsiders': 0.00071999995, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1632528000, 'shortRatio': 1.25, 'sharesShortPreviousMonthDate': 1631664000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2543500394496, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.622, 'priceToSalesTrailing12Months': 7.132906, 'dateShortInterest': 1634256000, 'pegRatio': 1.35, 'ytdReturn': None, 'forwardPE': 25.050167, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 100926641, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 152.57, 'regularMarketOpen': 147.215, 'twoHundredDayAverage': 140.03078, 'trailingAnnualDividendYield': 0.005472897, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.935, 'navPrice': None, 'averageDailyVolume10Day': 71414575, 'regularMarketPreviousClose': 152.57, 'fiftyDayAverage': 145.69278, 'trailingAnnualDividendRate': 0.835, 'open': 147.215, 'toCurrency': None, 'averageVolume10days': 71414575, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 146.4128, 'currency': 'USD', 'trailingPE': 29.326548, 'regularMarketVolume': 124953168, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2476224020480, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75283306, 'dayLow': 146.4128, 'ask': 149.93, 'askSize': 1100, 'volume': 124953168, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 149.91, 'tradeable': False, 'dividendYield': 0.0058, 'bidSize': 1100, 'dayHigh': 149.935, 'regularMarketPrice': 149.8, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655166  24.291443  23.514540  ...  270597600        0.0             0
2016-01-05  24.379039  24.402092  23.609054  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749164  23.083439  22.230461  ...  324377600        0.0             0
2016-01-08  22.719193  22.848292  22.306536  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898682  41.059116  40.630492  ...  132742000        0.0             0
2017-12-27  40.731065  40.893892  40.637678  ...   85992800        0.0             0
2017-12-28  40.946564  41.150101  40.822048  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [129]:
aapl = aapl_table['Close']['2016']

In [ ]:
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [130]:
print(aapl['2016-9'])

Date
2016-09-01    25.023928
2016-09-02    25.258390
2016-09-06    25.251358
2016-09-07    25.406101
2016-09-08    24.740229
2016-09-09    24.179871
2016-09-12    24.721474
2016-09-13    25.309975
2016-09-14    26.205606
2016-09-15    27.096556
2016-09-16    26.944160
2016-09-19    26.629982
2016-09-20    26.627636
2016-09-21    26.622946
2016-09-22    26.873817
2016-09-23    26.425997
2016-09-26    26.465858
2016-09-27    26.515097
2016-09-28    26.716732
2016-09-29    26.301741
2016-09-30    26.505714
Name: Close, dtype: float64

In [132]:
aapl['1995-2':'2017-1']

Date
2016-01-04    24.286831
2016-01-05    23.678213
2016-01-06    23.214844
2016-01-07    22.235071
2016-01-08    22.352642
                ...
2016-12-23    27.459558
2016-12-27    27.633949
2016-12-28    27.516115
2016-12-29    27.509050
2016-12-30    27.294590
Name: Close, Length: 252, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [133]:
print(aapl.head(6))
print(aapl.tail(1))

Date
2016-01-04    24.286831
2016-01-05    23.678213
2016-01-06    23.214844
2016-01-07    22.235071
2016-01-08    22.352642
2016-01-11    22.714584
Name: Close, dtype: float64
Date
2016-12-30    27.29459
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [134]:
by_month = aapl.resample('Y').mean()
print(by_month)

Date
2016-12-31    24.414202
Freq: A-DEC, Name: Close, dtype: float64

We can also aggregate the data by week:

In [135]:
by_week = aapl.resample('Y').mean()
print(by_week.head())

Date
2016-12-31    24.414202
Freq: A-DEC, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [136]:
aapl.resample('W').max()

Date
2016-01-10    24.286831
2016-01-17    23.044249
2016-01-24    23.380825
2016-01-31    23.051159
2016-02-07    22.390495
2016-02-14    22.021957
2016-02-21    22.742809
2016-02-28    22.462345
2016-03-06    23.876244
2016-03-13    23.702404
2016-03-20    24.562326
2016-03-27    24.736164
2016-04-03    25.494102
2016-04-10    25.756014
2016-04-17    25.983173
2016-04-24    24.912321
2016-05-01    24.356039
2016-05-08    22.061354
2016-05-15    21.785250
2016-05-22    22.205008
2016-05-29    23.415298
2016-06-05    23.287037
2016-06-12    23.238071
2016-06-19    22.748356
2016-06-26    22.410221
2016-07-03    22.361248
2016-07-10    22.545471
2016-07-17    23.037518
2016-07-24    23.310360
2016-07-31    24.331758
2016-08-07    25.199778
2016-08-14    25.511602
2016-08-21    25.668694
2016-08-28    25.520983
2016-09-04    25.258390
2016-09-11    25.406101
2016-09-18    27.096556
2016-09-25    26.873817
2016-10-02    26.716732
2016-10-09    26.742523
2016-10-16    27.579546
2016-10-23    27.560791
2016-10-30    27.724911
2016-11-06    26.620605
2016-11-13    26.172831
2016-11-20    25.937174
2016-11-27    26.347225
2016-12-04    26.293024
2016-12-11    26.853901
2016-12-18    27.329943
2016-12-25    27.586815
2017-01-01    27.633949
Freq: W-SUN, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [137]:
three_day = aapl.resample('3W').mean()
two_week = aapl.resample('2M').mean()
two_month = aapl.resample('2Y').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2016-01-10    23.153520
2016-01-31    22.526203
2016-02-21    22.108206
2016-03-13    23.043665
2016-04-03    24.679044
2016-04-24    25.275605
2016-05-15    22.070633
2016-06-05    22.653743
2016-06-26    22.635020
2016-07-17    22.378569
2016-08-07    23.849599
2016-08-28    25.442205
2016-09-18    25.350834
2016-10-09    26.567459
2016-10-30    27.350399
2016-11-20    25.843855
2016-12-11    26.186469
2017-01-01    27.362261
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2016-01-31    22.691287
2016-03-31    23.218628
2016-05-31    23.434687
2016-07-31    22.746799
2016-09-30    25.591299
2016-11-30    26.537657
2017-01-31    26.944800
Freq: 2M, Name: Close, dtype: float64
Date
2016-12-31    24.414202
Freq: 2A-DEC, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [138]:
std = aapl.resample('Y').std()
max = aapl.resample('M').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2016-12-31    1.893121
Freq: A-DEC, Name: Close, dtype: float64
Date
2016-01-31    24.286831
2016-02-29    22.742809
2016-03-31    25.394430
2016-04-30    25.983173
2016-05-31    23.415298
2016-06-30    23.238071
2016-07-31    24.331758
2016-08-31    25.668694
2016-09-30    27.096556
2016-10-31    27.724911
2016-11-30    26.347225
2016-12-31    27.633949
Freq: M, Name: Close, dtype: float64
Date
2016-01-10    22.235071
2016-01-17    22.391834
2016-01-24    22.200493
2016-01-31    21.536556
2016-02-07    21.780920
2016-02-14    21.718317
2016-02-21    22.260695
2016-02-28    21.947784
2016-03-06    22.411354
2016-03-13    23.417301
2016-03-20    23.762663
2016-03-27    24.492786
2016-04-03    24.381531
2016-04-10    25.158010
2016-04-17    25.269268
2016-04-24    24.495106
2016-05-01    21.727585
2016-05-08    21.622013
2016-05-15    21.067003
2016-05-22    21.801573
2016-05-29    22.487173
2016-06-05    22.787996
2016-06-12    23.000208
2016-06-19    22.230658
2016-06-26    21.780584
2016-07-03    21.463442
2016-07-10    22.151369
2016-07-17    22.589779
2016-07-24    23.007202
2016-07-31    22.543139
2016-08-07    24.364405
2016-08-14    25.305285
2016-08-21    25.574911
2016-08-28    25.073164
2016-09-04    24.852776
2016-09-11    24.179871
2016-09-18    24.721474
2016-09-25    26.425997
2016-10-02    26.301741
2016-10-09    26.381456
2016-10-16    27.209099
2016-10-23    27.338051
2016-10-30    26.662807
2016-11-06    25.649656
2016-11-13    25.402212
2016-11-20    24.912029
2016-11-27    26.212896
2016-12-04    25.802845
2016-12-11    25.713289
2016-12-18    26.700720
2016-12-25    27.405355
2017-01-01    27.294590
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [140]:
last_day = aapl.resample('Y').agg(lambda x: x[-1])
print(last_day)
print('he avanzado mucho, casi siento esperanzas de acabar')

Date
2016-12-31    27.29459
Freq: A-DEC, Name: Close, dtype: float64
he avanzado mucho, casi siento esperanzas de acabar

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [141]:
monthly_return = aapl.resample('Y').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2016-12-31    0.123843
Freq: A-DEC, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [142]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())
print('ay dios')

0.12384320977745422
nan
0.12384320977745422
ay dios

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [143]:
print(last_day.diff())
print(last_day.pct_change())
print('ya cortenle, mucho de lo mismo')

Date
2016-12-31   NaN
Freq: A-DEC, Name: Close, dtype: float64
Date
2016-12-31   NaN
Freq: A-DEC, Name: Close, dtype: float64
ya cortenle, mucho de lo mismo

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [144]:
daily_return = last_day.pct_change()
print(daily_return.fillna(1))

Date
2016-12-31    1.0
Freq: A-DEC, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [147]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))
print('fui a cambiar bfill por otra palabra y no se pudo :(')

Date
2016-12-31   NaN
Freq: A-DEC, Name: Close, dtype: float64
fui a cambiar bfill por otra palabra y no se pudo :(

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [148]:
daily_return = last_day.pct_change()
daily_return.dropna()
print('jkhdfkjhdsfkjhsdfkjhfsdkjhdsf')

jkhdfkjhdsfkjhsdfkjhfsdkjhdsf

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [151]:
import pandas as pd

dict = {'kilimanjaro': [143.5, 144.09, 142.73, 144.18, 143.77],'comida':[898.7, 911.71, 906.69, 918.59, 926.99],
        'ayudenme':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('1995-09-15',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

            kilimanjaro  comida  ayudenme
1995-09-15       143.50  898.70    155.58
1995-09-16       144.09  911.71    153.67
1995-09-17       142.73  906.69    152.36
1995-09-18       144.18  918.59    152.94
1995-09-19       143.77  926.99    153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [155]:
df = aapl_table
print(df.Close.tail(5))
print(df['VOLUME'].tail(5))
print('que tontería, otro error')

Date
2017-12-22    41.906776
2017-12-26    40.843609
2017-12-27    40.850792
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64

KeyError: ignored

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [158]:
aapl_2016 = df['2017']
aapl_month = aapl_2016.resample('Y').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-12-31  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[1 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [160]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)
print('esto tampoco se deja tocar')

                 Open       High        Low      Close
Date
2017-12-31  40.831629  40.848389  40.520339  40.522732
esto tampoco se deja tocar

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [161]:
print(aapl_month.loc['2016-05':'2016-09',['Open', 'High', 'Low', 'Close']])

Empty DataFrame
Columns: [Open, High, Low, Close]
Index: []

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [162]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)
print('y esta vaina que se supone que hace?')

Empty DataFrame
Columns: [Open, High, Low, Close]
Index: []
y esta vaina que se supone que hace?

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [163]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)
print('y esta vaina que se supone que hace?x2')

                 Open       High        Low      Close  rate_return
Date
2017-12-31  40.831629  40.848389  40.520339  40.522732          NaN
y esta vaina que se supone que hace?x2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [164]:
missing = aapl_bar.isnull()
print(missing)
print('y esta vaina que se supone que hace?x3')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2017-12-31  False  False  False  False         True
y esta vaina que se supone que hace?x3
         Open   High    Low  Close rate_return
count       1      1      1      1           1
unique      1      1      1      1           1
top     False  False  False  False        True
freq        1      1      1      1           1

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [165]:
print(missing[missing.rate_return == False])

Empty DataFrame
Columns: [Open, High, Low, Close, rate_return]
Index: []

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [166]:
drop = aapl_bar.dropna()
print(drop)
print('\n aquí yace un bacán\n')
fill = aapl_bar.fillna(0)
print(fill)

Empty DataFrame
Columns: [Open, High, Low, Close, rate_return]
Index: []

 aquí yace un bacán

                 Open       High        Low      Close  rate_return
Date
2017-12-31  40.831629  40.848389  40.520339  40.522732          0.0

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [167]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'comida')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'comidota')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

   comida  comidota
0  143.50    898.70
1  144.09    911.71
2  142.73    906.69
3  144.18    918.59
4  143.77    926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [168]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- esto sirve para separar... no me digas--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2017-12-31    3.701863
Freq: A-DEC, Name: log_price, dtype: float64

---------------------- esto sirve para separar... no me digas--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2017-12-31  40.831629  40.848389  40.520339  40.522732          NaN   3.701863

We can also join two DataFrames by rows. Consider these two DataFrames:

In [170]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------esto sirve para separar... no me digas x2-------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------esto sirve para separar... no me digas x2-------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490191  27.619805  27.202681  27.294590
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104039  34.153745  33.909959  33.999897

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [171]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)
print('ya se va a acabar esto, por fin')

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-10-31        NaN        NaN  ...  105677600.0           0.0
2016-11-30        NaN        NaN  ...  144649200.0           0.0
2016-12-31        NaN        NaN  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0
2017-12-31  40.831629  40.848389  ...          NaN           NaN

[8 rows x 7 columns]
ya se va a acabar esto, por fin

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [172]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)
print('que alegria que me da saberlo')

Empty DataFrame
Columns: [Open, High, Low, Close, rate_return, Volume, Stock Splits]
Index: []
que alegria que me da saberlo

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [173]:
append = aapl_bar.append(df_2017)
print(append)
print('de verdad, mucha alegria')

                 Open       High        Low      Close  rate_return
Date
2017-12-31  40.831629  40.848389  40.520339  40.522732          NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN
de verdad, mucha alegria

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [174]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)
print('Gatubelo, Gatorraptor, Yucazor, buenos nombres para un gato')

                 Open       High        Low      Close  rate_return
Date
2017-12-31  40.831629  40.848389  40.520339  40.522732          NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN
Gatubelo, Gatorraptor, Yucazor, buenos nombres para un gato

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [175]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)
print('no crei que se acabaria nunca')
#y lo peor es que sale con error

                 Open       High        Low      Close  rate_return     Change
Date
2017-12-31  40.831629  40.848389  40.520339  40.522732          NaN        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441488  25.986656  26.045572          NaN  26.300090
2016-12-31        NaN  27.619805  27.202681  27.294590          NaN  27.490191
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530073  32.354924  32.423565          NaN  32.444866
2017-03-31        NaN  34.146641  33.848414  34.002262          NaN  34.016463
2017-04-30        NaN  34.153745  33.909959  33.999897          NaN  34.104039
no crei que se acabaria nunca

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.